<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>hello world</title>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
  </head>
  <body>
    <div id="app" style="width:100%;border:1px solid black;padding:20px;box-sizing:border-box">
      {{message}}
      <!-- <p v-if = "seen" :class="message">现在你看到我了</p>
      <div class="static" :class="{active:isActive,'text-danger':hasError}" ></div>

       <div :style ="{color:activeColor,fontSize:fontSize+'px'}"></div>

        <div v-bind:style="[baseStyles, overridingStyles]"></div>

        <div v-if="num === 0">
         0
        </div>
        <div v-else-if="num === 1">
         1
        </div>
        <div v-else>
            not 0/1
        </div> -->

        <!-- <div v-for="(item,idx) in items" :key="idx">
           {{idx}} --- {{item.product}}
        </div> -->

        <!-- <input v-model = "message" placeholer= "edit me">
        <p>Message is {{message}}</p>

        <button @click="handleClick" type="button" name="button">methods 点击测试</button> -->

    <!--  child 组件  -->


    <!-- <br/> <hr />

    <fieldset>
      <legend> 子组件 my-child </legend>
      <my-child :my-message.sync="message"></my-child>
    </fieldset> -->


    <fieldset>
        <legend>Vuex</legend>
        <p>{{count}}</p>
        <p v-show="bComputed">calculating...</p>
        <p>
          <button @click="increment" type="button" name="button">＋</button>
          <button  @click="decrement" type="button" name="button">－</button>
        </p>

    </fieldset>


<span :class="[mycolor(item.status),'gray']">{{item.status}}</span>

    </div>

    </div>
    <template id="child">
      <div>
        <span id="child"> I am from childe + {{myMessage}}</span><br />
        <input @click="handleme" type="button" name="" value="click me change message">
      </div>
    </template>
    <script>


    var delay = (timeout,cb) => new Promise(resolve => setTimeout(()=>{cb(); resolve("test incrementAsync")},timeout))

     var store = new Vuex.Store({
       state:{
         count:0
       },
       getters:{
          getState:state=>{
            return state.count
          }
       },
       mutations:{
         increment:state => state.count++,
         decrement:state => state.count--
       },
       actions:{
         incrementAsync({commit}) {
             return delay(600,function(){commit("increment")})

         },
         decrementAsync({commit}) {
             return delay(600,function(){commit('decrement')});
         }
       }

     })
      Vue.component('myChild',{
        props:['myMessage'],
        template:'#child',
        methods:{
          handleme:function(){
            this.$emit("update:myMessage","from child")
          }
        }
      });

      var app = new Vue({
        el:"#app",
        data:{
          items:[
           {product:"foo"},
           {product:"bar"}
         ],
         item:{
            status:"待完成"
          },
         bComputed:false,
          num:3,
          message:'hello vue',
          seen:true,
          isActive:true,
          hasError:false,
          activeColor: 'red',
          fontSize: 30,
          baseStyles:{
            color:'red'
          },
          overridingStyles:{
            fontSize:'30px'
          }
        },
        methods:{
          mycolor(str){
            if(str === "待完成") {
              return "red"
            }else {
              return "blue"
            }
          },
          handleClick(){
             this.message = "I am just clicking"
          },
          increment(){
            this.bComputed = true;
            store.dispatch('incrementAsync').then((payload)=>{
              this.bComputed = false;
              console.log(payload)
            })
          },
          decrement(){
            this.bComputed = true;
            store.dispatch('decrementAsync').then(()=>{
              this.bComputed = false;
            })
          }
        },
        computed:{

           count(){
             return store.getters.getState
           }
        },

      })
    </script>
  </body>
</html>
